python-dotenv==1.0.0
python-telegram-bot==13.13
django==3.2.15
django-debug-toolbar==3.2.1
Pillow==10.0.0
python-dotenv==1.0.0
yookassa==2.4.0
environs==9.5.0
gunicorn==20.1.0
psycopg2-binary==2.9.6
dj-database-url==2.1.0
